<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="swipe-reveal">
   <template>
      <style>
          :host {
            opacity: 0;
            height: 0;
            width: 0;
         }

      </style>

   </template>
   <script>
      class SwipeReveal extends Polymer.Element {
         static get is() {
            return 'swipe-reveal';
         }
         static get properties() {
            return {
               target: {
                  type: String,
                  value: '.slides'
               },
               thresholdX: {
                  type: String,
                  value: () => window.innerWidth / 5
               },
               thresholdY: {
                  type: Number,
                  value: () => window.innerHeight / 10
               }
            }
         }
         ready() {
            super.ready();
            const _target = this._target = document.querySelector(this.target)
            _target.addEventListener('touchstart', this._onTouchStart.bind(this));
            _target.addEventListener('touchend', this._onTouchEnd.bind(this));
            _target.addEventListener('touchmove', this._onTouchMove.bind(this));
         }

         _onTouchMove(e) {
            const touch = e.changedTouches[0];
            const dx = touch.clientX - this.xStart;
            const dy = touch.clientY - this.yStart;
            const angle = this.getAngle(dx,dy);
            const PI = Math.PI;
            const thresX = this.thresholdX;
            const thresY = this.thresholdY;
            // const alpha = Math.abs(angle+PI/2) % PI/2 ;
            // console.log('dx= ' + dx + ', dy= ' + dy, ', angle=' + angle, ', alpha=' + alpha);
            if(Math.abs(dx) >thresX) {
               if ( Math.abs(angle) < PI/4 ) //(Math.abs(dy) < thresY) {
               // if (dx > thresX)
                  this.action = 'swipe-right';
               else if (Math.abs(angle) > PI-PI/4)
                  this.action = 'swipe-left';
            } else {
               this.action = '';
            }
         }
         _onTouchStart(e) {
            const list = e.changedTouches;
            this.action = '';
            //const startTime;
            if (list.length == 1) {
               this.xStart = list[0].clientX;
               this.yStart = list[0].clientY;
            }
         }
         _onTouchEnd(e) {
            switch (this.action) {
               case 'swipe-left':
                  Reveal.next();
                  break;
               case 'swipe-right':
                  Reveal.prev();
                  break;
            }
         }
         getAngle(dx, dy) {
            return Math.atan2(dy,dx);
         }
      }
      customElements.define(SwipeReveal.is, SwipeReveal);

   </script>
</dom-module>
