<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-item/paper-item-body.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/res/icons/myicons.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/shadycss/apply-shim.html">
<link rel="import" href="/bower_components/paper-styles/shadow.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">

<meta charset="utf-8">

<dom-module id="recherche-motif">
  <template>

    <style>
       :host paper-button {
        transition: background-color 0.3s ease;
      }

      @media screen and (min-width:600px) {
        :host {
          max-width: 600px;
        }
      }
       :host {
        flex: 1;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        box-sizing: border-box;

        --paper-button: {
          margin: 1ex;
          text-transform: none;
        }
        ;

        --paper-button-disabled: {
          background: #eaeaea;
          color: #a8a8a8;
        }
      }

       :host paper-button:hover {
        background-color: rgba(38, 73, 147, .2);
      }

      .enRelief {
        --paper-button: {
          color: #fff;
          background-color: rgba(38, 73, 147, .8);
          text-transform: none;
        }
        ;
      }

       :host paper-button.enRelief:hover {
        background-color: #264993;
      }

       :host paper-material,
       :host paper-material::shadow * {
        max-width: 700px;
        /* margin: auto; */
        --paper-material_-_display: block;
      }

       :host paper-material[elevation="1"] {
        @apply --shadow-elevation-2dp;
      }

      .inputs-container {
        margin: 1ex;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
      }

      .input-outer {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
      }

      #input {
        text-align: left;
        max-width: 15em;
        flex: 1;
      }

      #resultats {
        margin-bottom: 110px;
      }

      paper-spinner {
        align-self: center;
      }
      

    </style>


    <paper-material elevation="1">
      <div class="inputs-container">
        <div class="input-outer">
          <paper-input id="input" value="{{inputValue}}" label="Teny tadiavina"></paper-input>
        </div>
        <paper-button on-tap="clearInput">Fafana</paper-button>
        <paper-button class="enRelief" id="tadiavinaButton" disabled="[[disabled]]" on-tap="tadiavo">
          <iron-icon icon="myicons:find-in-page"></iron-icon>
          [[_tadiavina]]</paper-button>
      </div>

    </paper-material>
    <paper-spinner active="[[_waiting]]" style$="[[_spinnerStyle]]"></paper-spinner>
    <template is="dom-if" if="{{_displayResults}}">
      <paper-material id="resultats" elevation="2">
        <div>
          <template id="dom-repeat" is="dom-repeat" items="{{occurencesListe}}">
            <paper-item on-tap="goToHira">
              <paper-item-body two-line>
                <div>{{item.hira}}</div>
                <div secondary>{{item.str}}</div>
              </paper-item-body>
            </paper-item>
          </template>
        </div>
      </paper-material>
    </template>
  </template>

  <script>
    (function () {
      class RechercheMotif extends Polymer.Element {
        static get is() {
          return 'recherche-motif';
        }
        static get properties() {
          return {
            inputValue: String,
            disabled: {
              type: Boolean,
              value: true,
              computed: '_inputIsEmpty(inputValue)'
            },

            /*if no filepathToSearchIn is given, search in the current document it's embedded in*/
            filepathToSearchIn: {
              type: String
            },

            /*label of the button to launch the search*/
            _tadiavina: {
              type: String,
              value: 'Tadiavina',
              computed: '_tadiavinaLabel(inputValue)'
            },
            _displayResults: {
              type: Boolean,
              value: false,
            },
            _spinnerStyle: {
              type: String,
              computed: '_spinnerStyler(_waiting)'
            }

          }
        }
        _inputIsEmpty(inputValue) {
          return inputValue ? false : true;
        }
        _spinnerStyler(_waiting) {
          return _waiting ? 'display:block' : 'display:none';
        }
        _tadiavinaLabel(inputValue) {
          var str = inputValue ? ': \"' + inputValue + '\"' : '';
          return 'Tadiavina ' + str;
        }
        get pattern() {
          var accents = /[\u00c0-\u00ff]/;
          var prefixe, suffixe;
          // \b is not recognized around an accented character
          if (accents.test(this.inputValue[0]))
            prefixe = '.*';
          else
            prefixe = '.*\\b';

          if (accents.test(this.inputValue[this.inputValue.length - 1]))
            suffixe = '.*';
          else
            suffixe = '\\b.*';

          var patt = prefixe + this.inputValue + suffixe;
          console.log('pattern : ' + patt);
          return new RegExp(patt, 'i');
        }
        get paragraphes() {
          return this._paragraphes ? this._paragraphes : this._paragraphes = document.querySelectorAll(
            'p.andininy');
        }
        get inputElt() {
          return this.$.input.inputElement;
        }
        get lnk() {
          console.log('dans lnk');

          return document.head.appendChild(lnk0);
        }
        ready() {
          super.ready();
          this.occurencesListe = [];
          // to keep reveal.js from acting on keypresses
          this.alwaysFalse = function () {
            return false;
          };
          this._waiting = false;
          this.$.input.addEventListener('focus', this._onFocus.bind(this));
          this.$.input.addEventListener('blur', this._onBlur.bind(this));
          this.$.input.addEventListener('keydown', (e) => this._onKeydown(e));
        }

        _onFocus(e) {
          const reveal = window.Reveal || '';
          if (reveal) // keep reveal.js from acting on keypresses
            reveal.configure({
              keyboardCondition: this.alwaysFalse
            });
        }
        _onKeydown(e) {
          //console.log(e.keyCode);
          if (e.keyCode === 13 && !this.invalid)
            this.$.tadiavinaButton.click();
        }
        _onBlur() {
          var reveal = Reveal || '';
          if (reveal)
            reveal.configure({
              keyboardCondition: null
            });
        }
        _onImportLoad(e) {
          const _link = e.target || e;
          this.importe = _link.import;
          console.log('this : ' + this.tagName + ', importe : ' + this.importe);
          // paragraphes contains andininy
          let paragraphes = this.importe.querySelectorAll('p.andininy');
          // add the fiverenan-kira to paragraphes
          Array.prototype.concat.call(paragraphes, this.importe.querySelectorAll(
            'p.fiverenan-kira'));
          //search for the pattern
          foreach(paragraphes, this.searchRegEx.bind(this, this.pattern));
          this._displayResults = this.occurencesListe ? true : false;
          // changes to occurencesListe don't reflect to dom-repeat as long as dom-if is false
          // call render to force synchronous rendering
          // https://github.com/Polymer/polymer/issues/4818
          const domRepeat = this.shadowRoot.querySelector("#dom-repeat");
          if (domRepeat)
            domRepeat.render();
          this._waiting = false;
        }
        clearInput() {
          this.inputElt.value = '';
          this.inputElt.bindValue = '';
          this.clearResults();
        }
        clearResults() {
          if (this.occurencesListe)
            this.splice('occurencesListe', 0, this.occurencesListe.length);
          this._displayResults = false;
        }

        // callback to be given to foreach
        // search for pattern,
        // elt: the current element in the array
        // idx: the index of elt
        // array: a reference to the array searched in
        searchRegEx(pattern, elt, index, array) {
          // text of the current elt
          var txt = elt.innerText;
          // corresp is an array of strings matching the pattern, in the current elt
          var corresp = txt.match(pattern);
          var indxDernier = this.occurencesListe ? this.occurencesListe.length - 1 : 0;
          var dernierResultat = this.occurencesListe[indxDernier];
          if (corresp) {
            //console.log(corresp[0]);
            // the number of the hira is in the closest section.hira parent's id
            var hira = elt.closest('section.hira').id;
            // one match per elt (=paragraph) is enough
            var str = corresp[0].trim();
            // if occurencesListe is empty or the last occurence is not from the same hira
            if (!dernierResultat || dernierResultat.hira !== hira)
              this.push('occurencesListe', new Occurence(hira, str));
          }
        }

        tadiavo() {
          this.clearResults();
          this._waiting = true;
          // if a filepathToSearchIn is defined
          if (this.filepathToSearchIn) {
            // <link> created after the first search, singleton pattern
            var lnk0 = document.getElementById('ouChercher') || undefined;
            if (lnk0) //use the previously created link, and search in its imported document
              this._onImportLoad(lnk0);
            else { // first search so create the link elt to search in and append to <head>
              lnk0 = document.createElement('link');
              lnk0.rel = 'import';
              lnk0.href = this.filepathToSearchIn;
              lnk0.id = 'ouChercher';
              lnk0.onload = this._onImportLoad.bind(this);
              document.head.appendChild(lnk0);
            }
          } else { //if no filepathToSearchIn, search in the current document
            foreach(this.paragraphes, this.searchRegEx.bind(this, this.pattern));
            this._displayResults = this.occurencesListe ? true : false;
          }
        }

        goToHira(e) {
          console.log('in goToHira : ' + e.model);
          var model = e.model;
          var hira = model.item.hira;
          if (hira.search(/ffpm/i) !== -1)
            hira = hira.replace(/ffpm_/, '');
          else
            hira = hira.replace(/_/, '');
          var rechercheHira = document.getElementsByTagName('recherche-hira')[0];
          if (rechercheHira) {
            rechercheHira.set('hiraValue', hira);
            rechercheHira.set('fromSection', false);
            rechercheHira.open();
          }
        }
      }

      // associate hira number to the string matching the pattern
      // for use in occurencesListe
      function Occurence(hira, ligneString) {
        this.hira = hira;
        this.str = ligneString;

      }

      function foreach(collection, callback) {
        Array.prototype.forEach.bind(collection)(callback);
      }

      customElements.define(RechercheMotif.is, RechercheMotif);
    })();

  </script>
</dom-module>
