<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">


<dom-module id="reveal-index">
  <template>
    <style>
       :host {
        display: block;
        overflow:  auto;
        height: 100%;
        box-sizing: border-box;
      }
      :host > .list {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.35;
        font-size: 1.6rem;
        color: #264993;
        font-weight: 400;
      }
      .list__item {
        position: relative;
      }
      .list__anchor {
        color: #264993;
        text-decoration: none;
      }

    </style>

    <ul class="list">
      
      <template is="dom-repeat" items="[[slides]]" id="domRepeat">
        <li class="list__item"><a class="list__anchor" href="[[_slideUrl(item)]]" data-pos-h$="[[item.h]]" data-pos-v$="[[item.v]]">[[item.title]]</a><paper-ripple recenters></paper-ripple></li>
      </template>
      
    </ul>

  </template>
  <script>
    (function () {
      const HORIZONTAL_SELECTOR = '.slides>section';
      /** 
      * :scope needed to work around querySelector quirk
      * @see https://developer.mozilla.org/en-US/docs/Web/API/Element/querySelectorAll#Quirks
      */
      const VERTICAL_FROM_PARENT_SELECTOR = ':scope>section';

      class RevealIndex extends Polymer.Element {
        static get is() {
          return 'reveal-index';
        }

        static get properties() {
          return {
            displayed: {
              type: Boolean,
              value: false,
              notify: true,
              observer: '_onOpen'
            },
            selector: {
              type: String,
              value: 'section'
            },
            slides: {
              type: Array,
              value() {return []}
            }
          };
        }

        connectedCallback(){
          super.connectedCallback();
          this.shadowRoot.querySelector('.list').addEventListener('click', evt=> {
            if( evt.target != evt.currentTarget) {
              evt.preventDefault();
              const anchor = evt.target;
              Reveal.slide(anchor.dataset.posH, anchor.dataset.posV);
              this.displayed = false;
            }
          });
        }

        _onOpen(newV, oldV) {
          if(newV == false)
            return;
          const hSlides = document.querySelectorAll(HORIZONTAL_SELECTOR);
          // const hSlidesMap = new WeakMap(hSlides.map((val, idx) => {
          //   return [val, idx];
          // }));
          let slides = [];
          for (let idx = 0; idx < hSlides.length; idx++) {
            const s = hSlides[idx];
            
            const vSlides = s.querySelectorAll(VERTICAL_FROM_PARENT_SELECTOR);
            let title;
            let hira = s.querySelector('hr-hira');
            /* if the slide holds a hr-hira, take its title */
            if(hira){
              title = hira.title;
              const andininy = hira.highlights.length ? ': ' + hira.highlights.join('-'): '';
              title += andininy;
            }/* else, just take the index */
            else
              title = s.id? s.id : `slide ${idx}`;
            /* add the horizontal slide to the array */
            slides.push({
              h: idx,
              v: 0,
              title
            });

            /* process vertical slides, children of the current slide */
            if(vSlides.length > 0) {
              for (let vIdx = 0; vIdx < vSlides.length; vIdx++) {
                let hira = s.querySelector('hr-hira');
                if(hira)
                  title = hira.title;
                else
                  title = s.id? s.id : `slide ${idx},${vIdx}`;
                /* add the vertical slide to the array */
                slides.push({
                  h: idx,
                  v: vIdx + 1,
                  title
                });
              }
            }
          }
          
          // this.slides = slides;
          this.splice('slides',0,this.slides.length, ...slides);
          this.$.domRepeat.render();
        }
        
        _slideUrl(slide){
          const qs = location.search.replace(/pos=\d+/,'pos='+slide.h).replace(/\?$/,'');
          return './' + qs + '#/' + slide.h + '/' + slide.v;
        }
      }

    window.customElements.define(RevealIndex.is, RevealIndex);
    })();

  </script>
</dom-module>
