@import url(../../lib/font/playfair-display/playfair-display.css);
@import url(../../lib/font/noto-serif/noto-serif.css);
@import url(../../lib/font/open-sans/open-sans.css);
// @import '../../lib/font/materialIcons-regular/materialIcons-regular.css';
@import '../template/mixins';
@import '../template/settings';
@import "../../../node_modules/css-vars/css-vars";
$css-vars-use-native: true;

$backgroundColor: #fff;
$mainColor: #000;
$sectionLineHeight: 1.25;
@mixin tlrb( $tlr,$bottom) {
   top: $tlr;
   bottom: $bottom;
   left: $tlr;
   right: $tlr;
}
/* overview animation */
.reveal .slides {
    transition: transform 500ms 0s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1) translate3d(0,0,0);
    will-change: transform;
}

.reveal .slides>section,
.reveal .slides>section>section {
   line-height: $sectionLineHeight;
   padding: 5px 0;
   flex-wrap: wrap;
   height: 100%;
   &.present {
       display: flex;

   }
}
.reveal .slides section {
   
   p{
      margin: {
         top: #{$sectionLineHeight}em;
         bottom: 0;
         right: 1ex;
      }
   }
   line-height: $sectionLineHeight;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   font-size: 1rem;
}

.reveal section {
    & img, & .img {
        align-self: center;
        margin: 1rem 0px;
        // background: rgba(255, 255, 255, 0.12);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
}

   
li>p:first-child{
      margin: {
         top: 0;
         bottom: 0;
      }
}
   
   /*&.hira h3{
      
   }*/
   
   
.slides section.hira{
//    &.present{
//       display: flex !important;
//    }
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-content: stretch;
   h3{
       margin: 0 0 10px;
       line-height: 1;
   }
}
// section h3 {
//     flex: 1 0 100%;
// }
   div.hira.tononkira{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      align-content: stretch; /*alignement of flex lines*/
      flex: 1 0 0%;
      padding : 0 1ex;
      overflow-y: auto;
      
      p.andininy,p.fiverenan-kira{
         flex: 0 1 auto;
         text-align: start;
         max-width: 30em;
         padding: {
            @include tlrb(calc(1ex + 2px),calc(#{$sectionLineHeight}em - 1ex + 2px));
         }
      margin: 0 5px 10px 0;
         &.selected{
            padding:{
               @include tlrb(1ex,calc(#{$sectionLineHeight}em - 1ex));
            }
            border:{
               @include tlrb(2px solid rgb(72, 0, 255), 2px solid rgb(72, 0, 255));
            }
           margin: 0 5px 10px 0;
            box-shadow: grey 4px 7px 10px;
         }
         span{
            margin-right: 1ex;
         }
      }
      p.fiverenan-kira{
         order: 2;
         span.fiverenan-kira{
            margin-right: 0;
         }
      }
   }

   
   $blockMargin: 1.25em;
   
   $headingColor: #4800ff;
   $mainFontSize: 30px;
   $mainFontWeight: 600;
   $mainFont: 'Open Sans', Arimo, sans-serif;
   $headingFont: 'Playfair Display', 'Droid Serif', serif;
   $headingTextShadow: #000000;
   $headingLetterSpacing: normal;
   $headingTextTransform: none;
   $headingFontWeight: 600;
   $linkColor: #00194d;
   $linkColorHover: #465b76;
   $selectionBackgroundColor: #563c65;
   $sectionImgBorder: 4px solid transparent;
   $heading1Size: 3em;
   $heading2Size: 2em;
   $heading3Size: 1.6em;
   $heading4Size: 1.0em;
   
   hr-hira {
       @include css-vars((
           --title-font-size: $heading2Size,
           --title-font-weight: $headingFontWeight,
           --title-font-family: $headingFont,
           --title-color: $headingColor,
           --lyrics-verse__fontFamily: $mainFont
       ));
   }
@import "../template/theme";
