<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../hr-hira/hr-hira.html">
<link rel="import" href="../../bower_components/shadycss/apply-shim.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../res/icons/myicons.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="hira-manager">
  <template>
    <style>
       :host {
        display: flex;
        max-height: 100%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        font-size: 1rem;
        flex: 1;

        --paper-button: {
          margin: 1ex;
          text-transform: none;
        }
        ;

        --paper-button-disabled: {
          background: #eaeaea;
          color: #a8a8a8;
        }
      }

       :host .paper[elevation="1"] {
        @apply --shadow-elevation-2dp;
      }

      .overlay_spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(farthest-corner at center, rgba(0, 0, 0, 0.3) 0, rgba(200, 200, 200, 0.1));
        visibility: hidden;
        opacity: 0;
        transition-delay: 0s;
        transition-duration: 250ms;
        transition-property: visibility, opacity;
        transition-timing-function: ease-in-out;
        z-index: 1;
        will-change: visiility, opacity;
      }

      .overlay_spinner--dark {
        opacity: 1;
        visibility: visible;
      }

      paper-spinner {
        position: absolute;
        --paper-spinner-stroke-width: 10px;
        top: calc( 50% - 20vh / 2);
        left: calc( 50% - 20vh / 2);
        height: 20vh;
        width: 20vh;
        filter: drop-shadow(10px 10px 7px rgba(200, 100, 0, 0.4));
      }

      .main-container {
        padding: 1ex;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 50%;
        flex: 1;
        max-width: 600px;
        margin: 0 1px;
        transition-delay: 0s;
        transition-duration: 250ms;
        transition-property: filter;
        transition-timing-function: ease-in-out;
        filter: blur(0);
        will-change: filter;
      }

      .overlay_spinner--dark~.main-container {
        filter: blur(3px);
      }

      .enRelief {
        --paper-button: {
          color: #fff;
          background-color: rgba(38, 73, 147, .8);
          text-transform: none;
        }
        ;
      }

       :host paper-button.enRelief:hover {
        background-color: #264993;
      }

       :host paper-button {
        transition: background-color 0.3s ease;
      }

       :host paper-button:hover {
        background-color: rgba(38, 73, 147, .2);
      }

      .center-container {
        flex: 1 0 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }

      #input {
        text-align: left;
        max-width: 15em;
        flex: 1;
      }

    </style>

    <div class="paper main-container" elevation="1">
      <!-- <h3 class="title">Lisitra-na hira</h3> -->
      <div class="center-container">
        <paper-input id="input" value="{{inputHira}}" label="ohatra : 530:1-3-4,an5 , ff26:1" error-message="XXX:Y-Y-Y, anXX, na ffXX"
          allowed-pattern="[anf0-9, :\-]" pattern="[[_pattern]]" auto-validate stop-keyboard-event-propagation="true" on-blur="_onBlur"
          on-keydown="_onKeydown"></paper-input>
      </div>
      <paper-button hidden$="[[! inDialog]]" dialog-dismiss>Miala</paper-button>
      <paper-button on-tap="clearInput">Fafana</paper-button>
      <paper-button class="enRelief" disabled="[[_disabled]]" id="processButton" on-tap="processButton">
        <iron-icon icon="myicons:find-in-page"></iron-icon>
        Ataovy manaraka</paper-button>
    </div>


  </template>

  <script>
    (function () {
      let hiras = {};
      let intervalId;
      /**
       * `hira-manager`
       * retrieves 1 hira
       * 
       * @fires HiraManager#sectionsAdded
       * @customElement
       * @polymer
       * @demo demo/index.html
       */
      class HiraManager extends Polymer.Element {
        static get is() {
          return 'hira-manager';
        }
        static get properties() {
          return {
            _disabled: {
              type: Boolean,
              value: ''
              //computed: '_disableButton(inputHira)' // if computed, it isn't sync'd to a dynamic assignement of inputHira
              // use an observer on inputHira instead
            },
            /**
             * type {Hira} 
             hiraObj: {
               type: Object,
               computed: 'getHira(hira)'
              },
              */
            /**
             * @type {Array} 
             */
            hirasAr: {
              type: Array,
              notify: true,
              value: () => []
            },
            jsonURL: {
              type: String,
              value: '/fihirana.json'
            }
          };
        }
        //*** PROPERTIES
        get _pattern() {
          const regExp = '( *(an|ff)?\\d+( ?: ?\\d(-\\d)*)? *,?)+';
          return regExp;
        }

        get request() {
          return this.__request ? this.__request : this.__request = new Request(this.jsonURL, {
            method: 'GET',
            cache: 'default',
            'Content-Type': 'application/json',
            headers: {
              'Cache-Control': 'public, max-age=600'
            }
          });
        }

        static get CLASS_AUTO_ADD() {
          return 'auto-added-hira';
        }
        get inputElement() {
          return this.$.input.inputElement.inputElement;
        }

        //*** METHODS

        constructor() {
          super();
        }

        ready() {
          super.ready();
          const jsonKeys = Object.keys(this.jsonURL)
          const objsP = this.createHiraObjs(jsonKeys);
          objsP.then(arr => {
            this.hirasAr = arr;
          });
        }

        _addListeners() {
          window.addEventListener('hashchange', this.updateQueryString2.bind(this, 0), {
            passive: true
          });
        }
        _alwaysFalse() {
          return false;
        }
        _checkForReveal() {
          return new Promise((resolve, rej) => {
            intervalId = window.setInterval(() => {
              if (window.Reveal) {
                window.clearInterval(intervalId);
                resolve(window.Reveal);
              }
            }, 500);
          })
        }
        _disableButton(inputHira) {
          // this.$.input.invalid doesn't validate ffX
          return inputHira == '' || !new RegExp(this._pattern).test(this.$.input.value);
        }

        clearInput(e) {
          const elt = e.currentTarget;
          this.$.input.value = '';
          this.$.input.inputElement.bindValue = '';
          const autoAdded = document.querySelectorAll('section.' + HiraManager.CLASS_AUTO_ADD);
          // when getElementsByClass() then
          // if(/section/i.test(s.tagName))
          // one section remains... ???
          if (autoAdded) {
            Array.prototype.forEach.call(autoAdded, s => {
              const parent = s.parentElement;
              parent.removeChild(s);
            });
            if (window.Reveal)
              Reveal.sync();
            this.updateQueryString2(0);
          }
          e.stopPropagation;
        }

        /**
         * Create hira objects from a sequence of hira given as a string, comma separated.
         * Insensitive to spaces between hira's.  
         * e.g. '512, an12,ff26 , 31' => chain of Promise<Hira> 
         * 
         * @returns {Promise<any[]>} the chain of promises fulfilled with
         *  object versions of the hira's and the andininy to highlight
         * @memberof HiraManager
         */
        createHiraObjs() {
          return this.fetchHiras(this.jsonURL).then(parsedJson=>{
            return {keys:Object.keys(parsedJson), pojo: parsedJson};
          })
          .then( ({keys, pojo}) => {
            const hirasAP = new Promise((resolve, reject) => {
              const acc = [];
              const chainOfPromises = keys.reduce((prev, curr) => {
                
                return prev.then(_ => this.getHira(curr, pojo))
                  .then(o => {
                    for (let item of o) {
                      acc.push({
                        hira: item
                      })
                    }
                  });
              }, Promise.resolve());
              chainOfPromises.then(_ => resolve(acc));
            });
            return hirasAP;
          }
          );
        }

        /**
         * @param listOfHira {Array<Hira>}
         * @return {tree} a <template> which content is a tree of the created sections
         */
        createSections(listOfHira) {
          // const parentSection = this.closest('section');
          let tree = document.createElement('template');
          for (let i = 0; i < listOfHira.length; i++) {
            const hiraBundle = listOfHira[i];
            const h = hiraBundle.hira;


            const andininy = hiraBundle.andininy;
            const s = document.createElement('section');
            const elt = new HrHira();
            elt.hira = h;
            elt.highlights = andininy.slice();
            elt.addEventListener('highlights-changed', evt => {
              this.updateQueryString2(20);
            });
            /* add .future to prevent next slide from appearing on blur */
            s.classList.add('future', HiraManager.CLASS_AUTO_ADD);
            s.insertAdjacentElement('afterbegin', elt);
            tree.content.appendChild(s);
          }
          return tree;
          // parentSection.insertAdjacentElement('afterend', section);
        }

        getHira(which,fromPojo) {
          return this._getFromObj(fromPojo, which);
        }

        fetchHiras(fromURL = this.jsonURL) {
          const request = new Request(fromURL, {
            method: 'GET',
            cache: 'default',
            'Content-Type': 'application/json',
            headers: {
              'Cache-Control': 'public, max-age=600'
            }
          });

          return new Promise((resolve, rej) => {
            if (hiras[fromURL]) {
              resolve(hiras[fromURL]);
            } else {
              fetch(request).then(resp => {
                resp.json().then(hs => {
                  hiras[fromURL] = hs;
                  resolve(hs);
                });
              });
            }
          });
        }

        input2Sections(input) {

        }

        processButton(e) {
          let thisSection;
          let slMax;
          // debugger;
          if (window.Reveal) {
            if (this.fromSection) {
              thisSection = Reveal.getCurrentSlide();
            } else {
              const slides = Reveal.getSlides();
              slMax = slides.length - 1;
              thisSection = slides[slMax];
            }
          }

          const next = thisSection.nextElementSibling;
          const parent = thisSection.parentElement;
          /** prevent from re-focusing the input because of the listener **/
          e.stopPropagation();
          const objsP = this.createHiraObjs(this.inputHira);
          objsP.then(this.createSections.bind(this)).then(tree => {
            // debugger;
            const newContent = tree.content; //.cloneNode(true);
            /** insert the new content **/
            if (next)
              parent.insertBefore(newContent, next);
            else
              parent.appendChild(newContent);
            this.$.input.blur();
            if (window.Reveal) {
              /* Sync Reveal to update navigation arrows etc. */
              Reveal.sync();
              this._spinnerOff(100);
              /** go to the first hira of the newly added content **/
              if (this.fromSection)
                Reveal.next();
              else
                Reveal.slide(slMax + 1);
            }
            /**
             * Fired when sections containing hiras are added to the document.
             * 
             * @event HiraManager#sectionsAdded
             * @type {object}
             */
            this.dispatchEvent(new CustomEvent('sections-added', {
              composed: true,
              bubble: true
            }));
            // this.updateQueryString(200);
          });
        }

        /**
         * 
         * add hiras from the queryString
         * @returns void
         * @memberof HiraManager
         */
        processQueryString() {
          const searchParams = (new URL(location)).searchParams;
          const listOfHira = searchParams.get('hiras');
          const position = searchParams.get('pos');
          let title = searchParams.get('title');
          if (title != null && title != 'null')
            title.replace('+', ' ');
          else
            title = document.title;
          if (!listOfHira)
            return;

          this.createHiraObjs(listOfHira)
            .then(this.createSections.bind(this))
            .then(tree => {
              const newContent = tree.content;
              this.$.input.blur();
              if (window.Reveal) {
                const slides = Reveal.getSlides();
                const slMax = slides.length - 1;
                /* insert the new content */
                Reveal.getCurrentSlide().parentElement.appendChild(newContent);
              }
            })
            .then(_ => {
              if (window.Reveal) {
                /* Sync Reveal to update navigation arrows etc. */
                Reveal.sync();
              }
            })
            .then(_ => {
              /* update document's title */
              document.title = title;
              this._spinnerOff(100);
              if (window.Reveal) {
                Reveal.slide(position);
                /**
                 * Fired when sections containing hiras are added to the document.
                 * 
                 * @event HiraManager#sectionsAdded
                 * @type {object}
                 */
                this.dispatchEvent(new CustomEvent('sections-added', {
                  composed: true,
                  bubble: true
                }));
              }
            });
        }

        /**
         * 
         * add hiras with class HiraManager.CLASS_AUTO_ADD to the querystring
         * @memberof HiraManager
         * @param {number} delay [optional] delay the call by the specified time
         * @param {HashChangeEvent}  event [optional] event given when bound to onHashChange
         */
        updateQueryString(delay, event) {
          if (delay > 0) {
            setTimeout(this.updateQueryString.bind(this, 0, event), delay);
            return;
          }
          const queryString = location.search;
          const hash = location.hash;
          const pattern = /[&?]?hiras=(((ffpm|ff|an)_\d+)(:\d(-\d)*)?,?)+/;
          const posPattern = /[&?]?pos=\d+/;
          const position = 'pos=' + window.Reveal.getIndices().h;
          /* remove all previous hiras or pos in query string to recreate them from the found parameters */
          let newQueryString = queryString.replace(pattern, '').replace(posPattern, '');
          /* get all hiras added and get the list of their hira-id */
          const listOfHira = Array.prototype.map.call(document.querySelectorAll('.' + HiraManager.CLASS_AUTO_ADD +
            ' > hr-hira'), elt => {
            if (elt.highlights.length > 0)
              return elt.getAttribute('hira-id') + ':' + elt.highlights.join('-');
            else
              return elt.getAttribute('hira-id');
          });
          /* the query's part related to hiras */
          const hirasQuery = listOfHira.length ? `hiras=${listOfHira}` : '';

          /* if nothing else than hiras or pos was in the query */
          if (newQueryString.length == 0) {
            if (hirasQuery.length == 0) /* no hiras were added */
              newQueryString = '?' + position;
            else {
              newQueryString = `?${hirasQuery}&${position}`;
            }

          } else {
            /* if there was something else than hiras or pos then
                   restore the previous queryString */
            if (hirasQuery.length == 0)
              newQueryString = '?' + newQueryString + '&' + position;
            else { /* create it from scratch */
              newQueryString = `?${hirasQuery}&${newQueryString}&${position}`;
            }
          }

          window.history.pushState(null, '', newQueryString + hash);
        }

        /**
         * 
         * add hiras with class HiraManager.CLASS_AUTO_ADD to the querystring
         * @memberof HiraManager
         * @param {number} delay [optional] delay the call by the specified time
         * @param {HashChangeEvent}  event [optional] event given when bound to onHashChange (DEPRECATED because of pushState's use)
         */
        updateQueryString2(delay, event) {
          if (delay != undefined && delay > 0) {
            setTimeout(this.updateQueryString2.bind(this, 0, event), delay);
            return;
          }
          const queryString = location.search;
          const hash = location.hash;

          /* remove all previous hiras or pos in query string to recreate them from the found parameters */
          const qsTemp = queryString.replace('?', '').split('&').filter(str => str.length > 0);
          let newQueryString = qsTemp.slice();
          /* remove the old entries from the query string */
          for (let [idx, str] of qsTemp.entries()) {
            if (/(hiras|pos|title)=/.test(str))
              newQueryString.splice(idx);
          }

          /* get all hiras added and get the list of their hira-id */
          const listOfHira = Array.prototype.map.call(document.querySelectorAll('.' + HiraManager.CLASS_AUTO_ADD +
            ' > hr-hira'), elt => {
            if (elt.highlights.length > 0)
              return elt.getAttribute('hira-id') + ':' + elt.highlights.join('-');
            else
              return elt.getAttribute('hira-id');
          });
          /* the query's part related to hiras */
          const hirasQuery = listOfHira.length ? `hiras=${listOfHira}` : '';
          /* the query's part related to the current position */
          const position = 'pos=' + window.Reveal.getIndices().h;
          /* the query's part related to the  document's dynamic title */
          const title = 'title=' + document.title;
          /* add all updated entries to the query string */
          newQueryString.push(title, hirasQuery, position);

          window.history.pushState(null, '', '?' + newQueryString.join('&') + hash);
        }

        /**
         * 
         * @param {HiraJson} obj 
         * @param {string} hiraString 
         * @returns 
         * @memberof HiraManager
         */
        _getFromObj(obj, hiraString) {
          const numHira = hiraString;
          let hira = [obj[numHira]];
          const version = hira[0].version;
          if (version.length > 0) {
            hira = version.map(key => obj[key]);
          }
          for (let h of hira) {
            h.lyrics = h.lyrics.map(val => {
              val.lyrics = val.lyrics.trim();
              return val;
            });
          }
          return hira;
        }

        _focusOnClick(e) {
          const path = e.composedPath();
          if (path.some(elt => elt.tagName && (elt.matches('paper-button') || elt.matches('paper-input'))))
            return;
          else if (this.$.input.focused)
            this.$.input.blur();
          else
            this.$.input.focus()
        }

        _formatHira(h = this.hira) {
          h = h.trim();
          const ff = h.match(/ff(?!pm)/i);
          const antema = h.match(/an/i);
          let numHira = h.match(/\d+/);
          numHira = numHira[0].replace(/^0+/, '');

          if (ff) { // fihirana fanampiny
            numHira = 'ff_' + numHira;
          } else {
            if (antema) {
              numHira = 'antema_' + numHira;
            } else {
              numHira = 'ffpm_' + numHira;
            }
          }
          return numHira;
        }

        _inputHiraChanged(newV, oldV) {
          this.set('_disabled', this._disableButton(newV));
        }

        _onBlur() {
          var reveal = window.Reveal || '';
          if (reveal)
            reveal.configure({
              keyboardCondition: null
            });
        }
        _onFocus(e) {
          const reveal = window.Reveal || '';
          if (reveal) // keep reveal.js from acting on keypresses
            reveal.configure({
              keyboardCondition: this._alwaysFalse
            });
        }
        _onKeydown(e) {
          //console.log(e.keyCode);
          if (e.keyCode === 13 && !this.invalid)
            this.$.processButton.click();
        }



      }

      window.customElements.define(HiraManager.is, HiraManager);
    })();

  </script>
</dom-module>
