<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./hira-manager/hira-manager.html">
<link rel="import" href="./hr-hira/hr-hira.html">

<dom-module id="fihirana-editor">
  <template>
    <style>
       :host {
        display: block
      }

    </style>
    <hira-manager hiras-ar="{{hiras}}"></hira-manager>
    <template is="dom-repeat" items="[[hiras]]" initial-count="20">
      <hr-hira hira="[[item.hira]]" content-editable="true" on-hira-edited="_onHiraEdited"></hr-hira>
    </template>


  </template>

  <script>
    /**
     * `fihirana-editor` Suggest a modification to one or many hira
     *
     * @summary Modification suggestor.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class FihiranaEditor extends Polymer.Element {
      /**
   * String providing the tag name to register the element under.
   */
  static get is() {
    return 'fihirana-editor';
  }

  /**
   * Object describing property-related metadata used by Polymer features
   */
  static get properties() {
    return {
      contentEditable: {
        type: Boolean,
        value: false
      },
      /** @type {fihirana.Hira[]} */
      hiras: {
        // @ts-ignore
        type: Array,
        value: () => []
      }
    };
  }

  /**
   * Instance of the element is created/upgraded. Use: initializing state,
   * set up event listeners, create shadow dom.
   * @constructor
   */
  constructor() {
    super();
    /** @type {Map<number,fihirana.HiraMod>} */
    this.modifications = new Map();
  }

  /**
   * Use for one-time configuration of your component after local DOM is initialized. 
   */
  ready() {
    super.ready();

  }

  /**
   * 
   * @param {fihirana.HiraEditedEvent} e 
   */
  _onHiraEdited(e) {
    console.log(e.detail);
    console.log(e.currentTarget.hira);
    const mod = e.detail;
    this._storeMod(mod);

  }
  /**
   * Store modification from hr-hira's edition to this.modifications
   * @param {fihirana.HiraMod} mod 
   */
  _storeMod(mod) {
    let newMod = mod;
    if (this.modifications.has(mod.id)) {
      newMod = this.modifications.get(mod.id);
      mod.verse.forEach((val, key) => {
        newMod.verse.set(key,val);
      });
    }
  this.modifications.set(newMod.id, newMod);
  }

  getModifications() {
    let modArray = new Map();
    this.modifications.forEach((mod, id) => {
      /* for each mod, recreate the structure of the corresponding hira */
      /** @type {fihirana.Hira} */
      const newHira = new fihirana.Hira({
        num: mod.num,
        type: mod.type,
        lyrics: new Array(mod.lyricsSize).fill(null),
        title: this.hiras[id],
        version: []
      });
      newHira.lyrics = newHira.lyrics.map((val, idx) => {
        if (mod.verse.has(idx))
          return mod.verse.get(idx);
        else
          return {};  
      });
      modArray.set(id,newHira);
    });
    return modArray;
  }

  /** @param {Map<string,object>} map */
    map2json(map) {
    let obj = Object.create(null);
    for (let [k, v] of map.entries()) {
      obj[k] = v;
    }
    return JSON.stringify(obj);
  }
    }

    window.customElements.define(FihiranaEditor.is, FihiranaEditor);

  </script>
</dom-module>
