<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/shadycss/apply-shim.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../res/icons/myicons.html">

<dom-module id="hr-hira">
  <template>
    <style>
       :host {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        overflow: hidden;
        height: auto;
        --paper-menu-button: {
          /* background-color: rgb(0, 77, 255);
          filter: drop-shadow(1px 1px 2px grey);
          border-radius: 4px; */
          background-image: radial-gradient(farthest-corner at center, rgba(255, 255, 255, 0.3) 0%, transparent 80%);
          height: 30px;
          width: 30px;
          padding: 0;
          box-sizing: border-box;
        }
        --paper-icon-button: {
          color: rgb(0, 77, 255);
          filter: drop-shadow(2px 2px 1px grey);
          padding: 12.5%;
          height: 100%;
          width: 100%;
          line-height: 0;
          vertical-align: top;
        }
      }

      .header {
        margin: 0;
        line-height: 1;
        flex: 0 0 auto;
        display: flex;
        padding: 0 0.75rem;
        flex-flow: row wrap;
        position: relative;
        justify-content: flex-end;
        align-items: center;
      }
      :host(.scrolled) .header::after {
        opacity:1;
      }
      .header::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition-delay: 0s;
        transition-duration: 50ms;
        transition-property: opacity;
        transition-timing-function: ease-in;
      }

      .title {
        flex: 1 0 100%;
        color: var(--title-color);
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        font-family: var(--title-font-family);
        line-height: 1;
        margin: 1rem;
      }

      @media screen and (max-width: 425px) {
        .title {
          margin: 0.6rem;
        }
      }

      .buttons {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem;
      }

      .buttons--absolute {
        position: absolute;
      }

      .buttons--relative {
        position: relative;
      }
      /* .font-sizer::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 50%;
      } */

      .font-sizer__container {
        padding: 1rem;
      }

      .font-sizer {
        font-size: 1rem;
        flex: 0;
        padding: 1rem;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(150, 150, 150, 0.2));
        border: solid 1px rgba(50, 50, 50, 0.1);
        box-shadow: 1px 1px 3px -2px rgba(100, 100, 100, 0.2);
        background-color: rgb(0, 77, 255);
        margin: 0 0.2rem;
        --paper-button: {
          min-width: 3rem;
        }
      }
      /* :host h3 {
        margin: 0 0 10px;
        flex: 0 0 auto;
      } */

       :host .hira {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
        /*alignement of flex lines*/
        flex: 1 0 0%;
        padding: 0 1ex;
        overflow-y: auto;
      }

       :host .lyrics__verse-container:last-of-type {
        margin-bottom: 110px;
      }

       :host .lyrics__verse-container,
       :host p.andininy,
       :host p.fiverenan-kira {
        flex: 0 1 auto;
        text-align: start;
        padding: 0.60em;
        margin: 0 5px 10px 0;
        border: 2px solid transparent;
        font-family: var(--lyrics-verse__fontFamily);
      }


       :host .lyrics__verse-container.selected,
       :host p.andininy.selected,
       :host p.fiverenan-kira.selected {
        /* padding: 1ex calc( 1.25em - 1ex); */
        border-color: rgb(72, 0, 255);
        /* margin: 0 5px 10px 0; */
        box-shadow: grey 4px 7px 10px;
      }

      .lyrics__verse-number {
        float: left;
        font-size: var(--lyrics-verse__fontSize);
      }

       :host .lyrics__verse {
        margin: 0;
        white-space: pre-line;
        max-width: 30em;
        font-size: var(--lyrics-verse__fontSize);
      }

      span {
        margin-right: 1ex;
      }

       :host p.fiverenan-kira {
        order: 2;
      }

       :host span.fiverenan-kira {
        margin-right: 0;
      }
      .modified {
        background-image: radial-gradient(farthest-corner at center, rgba(50,255,50,0.3) 0, rgba(255,255,255,0.2));
      }

    </style>
    <div class="header">
      <h3 class="title">{{title}}</h3>
      <div class="buttons buttons--absolute">
        <!--<paper-menu-button vertical-align="top" horizontal-align="right" dynamic-align>
          <paper-icon-button slot="dropdown-trigger" icon="myicons:format-size" alt="police"></paper-icon-button>
          <div class="buttons font-sizer__container" slot="dropdown-content">
            <paper-button class="font-sizer font-sizer--decrease" on-tap="decreaseFontSize">-</paper-button>
            <paper-button class="font-sizer font-sizer--increase" on-tap="increaseFontSize">+</paper-button>
          </div>
        </paper-menu-button>
          -->
      </div>
    </div>
    
    <div id="lyrics__container" class="hira">
      <template id="repeater" is="dom-repeat" items="[[hira.lyrics]]" items-index-as="idx">
        <span class="andininy lyrics__verse-number">[[item.num]]</span>
        <p class="lyrics__verse" contenteditable$="[[contentEditable]]" lyrics-idx="[[idx]]">[[item.lyrics]]</p>
      </template>
    </div>
  </template>

  <script>
    /**
     * `hr-hira`
     * Retrieves and displays an hira
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HrHira extends Polymer.Element {
      static get is() {
        return 'hr-hira';
      }
      static get properties() {
        return {
          _fontSizeLyrics: {
            type: Number,
            value: 30,
            observer: '_updateFontSize'
          },
          _fontSizeTitle: {
            type: Number,
            value: 40,
            observer: '_updateFontSizeTitle'
          },
          contentEditable: {
            type: Boolean,
            value: false
          },
          hira: {
            type: Object,
            value: {},
            observer: '_updateHiraNum'
          },
          hiraId: {
            type: String,
            value: '',
            reflectToAttribute: true
          },
          title: {
            type: String,
            computed: 'getTitle(hira)'
          }
        };
      }
      constructor() {
        super();
        this.mql = window.matchMedia('screen and (max-width: 425px)');
        this.mql.addListener(this._onMediaQueryChange.bind(this));
      }
      ready() {
        super.ready();
        this._fontSizeLyrics = 30;
        this._onMediaQueryChange(this.mql);
      }

      connectedCallback(){
        super.connectedCallback();
        this.$.repeater.addEventListener('dom-change',evt=>{
          this.shadowRoot.querySelectorAll('.lyrics__verse').forEach(elt=>{
            elt.addEventListener('input', this.contentEdited.bind(this));
          });
        });
      }

      /**
   * Called when the verse's paragraph is edited (contenteditable)
   * @param {Event} evt InputEvent from the editable paragraph of a verse
   * @fires Hira#hira-edited
   */
  contentEdited(evt) {
    const parag = /** @type {HTMLElement} */ (evt.currentTarget);
    parag.classList.add('modified');
    /** @type {fihirana.HiraVerse} */
    const andininy = this.$.repeater.itemForElement(parag);
    const newAndininy = Object.assign({}, andininy, {
      lyrics: parag.innerText
    });
    /** @type {number} 
     */
    // @ts-ignore
    const idx = parag.lyricsIdx;
    /** @event  fihirana.Hira#hira-edited
     * @type {Object}
     * @property {Object} detail
     * @property {number} detail.id
     * @property {Map<number,fihirana.HiraVerse} detail.content
     */
    this.dispatchEvent(new CustomEvent('hira-edited', {
      detail: {
        id: this.hiraId,
        verse: new Map([
          [idx, newAndininy]
        ]),
        num: this.hira.num,
        type: this.hira.type,
        lyricsSize: this.hira.lyrics.length
      },
      // @ts-ignore
      composed: true,
      bubbles: true
    }));
  }

      getTitle(hira) {
        if (hira) {
          const type = hira.type;
          const num = hira.num;
          let title;
          switch (type) {
            case "ffpm":
              title = '';
              break;
            case "antema":
              title = 'Antema ';
              break;
            case "ff":
              title = 'FF ';
              break;
            default:
              title = '';
          }
          return title + num;
        }
      }

      _onMediaQueryChange(evt) {
        if (evt.matches) {
          /* screen and (max-width: 425px) */
          this._fontSizeLyrics = 18;
          this._fontSizeTitle = 22;
        } else {
          this._fontSizeLyrics = 30;
          this._fontSizeTitle = 40;
        }
      }

      _updateFontSize(newV, oldV) {
        Polymer.updateStyles({
          '--lyrics-verse__fontSize': `${this._fontSizeLyrics}px`
        });
      }
      _updateFontSizeTitle(newV, oldV) {
        Polymer.updateStyles({
          '--title-font-size': `${this._fontSizeTitle}px`
        });
      }

      _updateHiraNum(newHira, oldHira) {
        const type = newHira.type;
          const num = newHira.num;
          let typeId;
          switch (type) {
            case "ffpm":
            typeId = 'ffpm';
              break;
            case "antema":
            typeId = 'an';
              break;
            case "ff":
              typeId = 'ff';
              break;
            default:
              typeId = '';
          }
        this.hiraId = typeId + '_' + num;
      }

      increaseFontSize() {
        this._fontSizeLyrics += 2;

      }
      decreaseFontSize() {
        this._fontSizeLyrics -= 2;
      }




    }

    window.customElements.define(HrHira.is, HrHira);

    /**
 * Types, utils for the fihirana
 * @namespace
 * @exports
 */
var fihirana = fihirana || {};

/**
 * @typedef {Object} HiraVerse
 * @property {String} num index of the verse, relative to its type
 * @property {String} lyrics text content of the verse
 * @property {String} type type of the verse : one of 'verse', 'refrain'
 * @memberOf fihirana
 */

/**
 * Class representing a Hira in the json
 * @class fihirana.Hira
 * @implements fihirana.IHira
 */
fihirana.Hira = class {


  /**
   * @param {?fihirana.IHira} hira
   */
  constructor(hira) {
    const {
      num,
      type,
      title,
      version,
      lyrics
    } = hira;
    if(!!hira)
      Object.assign(this, hira);
  }
}


    
  </script>
</dom-module>
